<div class="flex-container">
  <div style="width:500px">
  </div>
  <div style="text-align:center; font-family: Arial">
    <h1>
      {{ title }}!
    </h1>
    <div *ngIf="banana$ | async as banana">
      <form>
        <button class="local-button-border" type="submit" (click)="newBanana()">New Banana</button>
        <button class="local-button-border" type="submit" (click)="peelBanana()">Peel Banana</button>
        <button class="local-button-border" type="submit" (click)="eatBanana()">Eat Banana</button>
        <button class="local-button-border" type="submit" (click)="timeHop()">Time Hop</button>
      </form>

      <div style="height: 30px"></div>
      <div *ngIf="!banana.isPeeled && banana.color === 'yellow'">

        <img width="300" alt="New Banana" src="../../assets/images/BananaNew(small).jpeg" />
        <h2>You should peel your banana.</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining >= 9 && banana.color === 'yellow'">
        <img width="300" alt="Peeled Banana" src='../../assets/images/BananaPeeled.jpeg' />
        <h2>Yum, looks delicious!</h2>
      </div>
      <div
        *ngIf="banana.isPeeled && banana.bitesRemaining < 9  && banana.bitesRemaining >= 6 && banana.color === 'yellow'">
        <img width="300" alt="Banana Little Eaten" src='../../assets/images/BananaBittenEdit.png' />
        <h2>Tasty!</h2>
      </div>
      <div
        *ngIf="banana.isPeeled && banana.bitesRemaining < 6 && banana.bitesRemaining >= 3 && banana.color === 'yellow'">
        <img width="300" alt="Banana Lot Eaten" src='../../assets/images/bananaminuis6.png' />
        <h2>Tasty!</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining < 3 && banana.color === 'yellow'">
        <img width="300" alt="Eaten Banana" src='../../assets/images/BananaEmptyPeel.jpeg' />
        <h2>That was a great banana!</h2>
      </div>
      <div *ngIf="!banana.isPeeled && banana.color === 'brown'">
        <img width="300" alt="Old Unpeeled Banana" src='../../assets/images/bananarotten.jpeg' />
        <h2>Bummer, you missed your chance</h2>
      </div>
      <div *ngIf="banana.isPeeled &&  banana.bitesRemaining > 0 && banana.color === 'brown'">
        <img width="300" alt="Old Peeled Banana" src='../../assets/images/bananarotten10.jpeg' />
        <h2>Time to get a new banana</h2>
      </div>
      <div
        *ngIf="banana.isPeeled && banana.bitesRemaining < 10  && banana.bitesRemaining >= 6 && banana.color === 'brown'">
        <img width="300" alt="Banana Little Eaten" src='../../assets/images/bananarottenless10.png' />
        <h2>I wouldn't eat any more of that banana...</h2>
      </div>
      <div
        *ngIf="banana.isPeeled && banana.bitesRemaining < 6 && banana.bitesRemaining >= 3 && banana.color === 'brown'">
        <img width="300" alt="Banana Lot Eaten" src='../../assets/images/bananarottenless6.png' />
        <h2>I wouldn't eat any more of that banana...</h2>
      </div>
      <div *ngIf="banana.isPeeled && banana.bitesRemaining === 0 && banana.color === 'brown'">
        <img width="300" alt="Old Empty Banana Peel" src='../../assets/images/bananarottenempty.jpeg' />
        <h2>Time to get a new banana</h2>
      </div>
      <mat-card style="margin-top: 50px">
        <mat-card-content>
          <div style="text-align:left; font-family: Arial">
            <h3>isPeeled = {{banana.isPeeled}}</h3>
            <h3>bitesRemaining = {{banana.bitesRemaining}}</h3>
            <h3>color = {{banana.color}}</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="width:100px">
  </div>
</div>